﻿<h2 style="text-align: center;">Eclipse Games Score</h2>
@using System.Data;

<table style="margin:auto;" border="1">
    <thead>
        <tr>
            @foreach (DataColumn col in Model.Columns) { 
            <th>@col.Caption</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
        <tr>
            @foreach (var cell in row.ItemArray)
            {
            <td>@cell.ToString()</td>
            }
        </tr>
        }
    </tbody>
</table>
